@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Sanfrancisco';
  src: url("../fonts/special/SF-UI-Display-Ultralight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Sanfrancisco';
  src: url("../fonts/special/SF-UI-Display-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sanfrancisco';
  src: url("../fonts/special/SF-UI-Display-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sanfrancisco';
  src: url("../fonts/special/SF-UI-Display-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sanfrancisco';
  src: url("../fonts/special/SF-UI-Display-Black.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}